/*element slt st*/
body{
 background-image: url(../images/nature.jpg);
 background-size: 110%;
 background-repeat: no-repeat;
 background-attachment: fixed;
 min-width: 360px;
 max-width: 100%;
 min-height:400px;
 max-height: 100%;
}
h1{
  color: white;
  
}
h2{
  width: 200px;
  text-align: center;
}
p{
 font-family: verdana;
 font-size: 20px;
}
table{
  width: 50%;
}
tr{
  text-align: center;
}
/*element slt end*/

/*class slt st*/
.header{
  text-align: center;
  font-size: 80px;
}
.hbg{
  background-image: url('../images/pexels-lisa-1083822.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}
.box{
  width: 50%;
  margin: 100px;
  border: 5px solid  ;
  padding: 100px;
}
.hw{
  width: 100%;
  height: 600px;
}
.p{
  width: 100px;
}
.display{
  display: inline-block;
}
.margins{
  margin-top: 5%;
  margin-bottom: 20%;
  margin-right: 20%;
  margin-left: 20%;
}
.outline{
  outline: 5px dotted #766363;
  outline-offset: 20px;
}
.border{
  border: 5px solid white;
  border-radius: 10px;
}
.padding{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
.warpper{
  overflow: hidden;

}
.container{
 float: left;
  display: inline-block;
  margin-left: 50px;
}
.text{
  font-size: 26px;
  text-align: justify;
  text-decoration: overline;
  text-shadow: 2px 2px 5px red;
}
.lis{
  list-style-type: circle;
    font-family: fantasy,serif;
}
.lis2{
  list-style-type: square;
}
/*font family*/
.font-family{
 font: italic small-caps bold 12/30px serif;
}
.font-family2{
  font-family: fantasy,serif;
}
.ff3{
  font-family: "sofia",sans-serif;
}
/*font end*/
/*button st*/
.social-media{
  padding: 50px 20px;
}
.btn{
  border: none;
  padding: 10px 20px;
  font-size: 2rem;
  border-radius: 5px;
  cursor: pointer;
}
/*button end*/
.position{

  display: inline-block;
  position: fixed;
  top: 8px;
  left: 90%;
}
.z-index{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 30%;
}
.warpper1{
  overflow: hidden;

}
.container1{
  float: left;
  display: inline-block;
  width: 50%;

}
.last{
  display: inline-block;
  float: left;
  width: 50%;
}
.align{
  margin: auto;
  width: 40%;
  border: 2px solid black;
  padding: 10px;
}
.text-align{
  text-align: center;
}

 .fnt{
  font-size: 20px;
 }
 .container2{
  float: left;
  width: 33.33%;
 }
 .flt{
  float: right;
  width: 50%;
 }
 ____________________
 /*about html*/
 _____________________
 /*comon start*/
 .ahead{
      font-family: ;
      font-size: 16px;
      font-weight: 400;
      color: #0f2656;
 }
/*comon end*/
/*header start*/
header{
  margin-left: 20px;
  margin-right: 20px;
}
nav{
   display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links{
   padding: 28px 0;

}
.nav-links li{
    display: inline-block;
    margin: 0 15px;
}
.nav-links li a{
    text-decoration: none;
    color: black;
    padding: 5px 0;
}
/*header end*/
/*body start*/
.op{
  text-align: center;
  font-size: 50px;
}
/*body end*/

/*class slt end*/

/*id slt st*/
#p{
  background-color: #766363;
}
/*id slt end*/

/*decendn slt st*/
.bc p{
  background-color: #afafd7;

}

/*desendn slt end*/



/*background slt st*/
.bi{
    background-image: url(../images/mike-car.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
/*background slt end*/
/*element slt st*/
/*element slt st*/
/*element slt st*/
/*element slt st*/
/*element slt st*/
/*element slt st*/
/*element slt st*/

